@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import 'contacto.css';
@import 'envio_formulario.css';
@import 'inicio.css';
@import 'quees.css';
@import 'registro.css';
@import 'resultado.css';
@import 'chat.css';
@import 'json.css';

body {
    font-family: 'Roboto Slab', serif;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-y;
    background-size: 100%;
}

.header {
    background-color: #13a597;
    color: white;
    margin: 20px 0px 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    opacity: 0.75;
}

a{

  margin: 0px;
  color:  #00776c!important;
}

.botones {

    text-align: center;
    margin: 0px 0px 0px 0px;
    opacity: 0.75;
}

.nav-tabs {
    /*background-color: rgba(46, 179, 171, 0.61);*/
    text-align: center;
    margin: 0px 0px 0px 0px;
    opacity: 0.75;
    color: white;
    border-radius: none!important;
}

.tab-content {
    border: none;
    color: white;
    border-bottom: none;
    text-decoration: none;
}

.nav-tabs>li>a {
    color: white;
    border: 10px;
    border: none !important;
    border-radius: 0px;
}

.nav-tabs>li>a:hover {

    border-radius: none;
    border: none;
    transition: all 0.1s linear;
    color: grey;
}
.nav-tabs.nav-justified>li>a {
    margin-right: 0;
    border-radius: 0px;
    margin-bottom: 0px;
}

.row{
  color: black;
  font-family: 'Roboto Slab', serif;
}

#imagen{
  text-align: center;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

#barra_inferior{
  border-bottom: solid;
  border-width: 1px;
  border-color: #13a597;
